* {
    background:          #18130b;
    background-tint:     #60410080;
    background-alt:      #2f2921;
    foreground:          #ece1d4;
    selected:            #604100;
    search-tint:         #ece1d450;
    hover-tint:          #ece1d450;
}
