* {
    background:          #101417;
    background-tint:     #004b7080;
    background-alt:      #262a2e;
    foreground:          #e0e3e8;
    selected:            #004b70;
    search-tint:         #e0e3e850;
    hover-tint:          #e0e3e850;
}
