* {
    background:          #0e1415;
    background-tint:     #004f5780;
    background-alt:      #252b2c;
    foreground:          #dee4e4;
    selected:            #004f57;
    search-tint:         #dee4e450;
    hover-tint:          #dee4e450;
}
